$black: #171717;
$white: #ffffff;
$main-bg: #E1E8ED;
$blue: #59B4D1;
$orange: #D0935A;
$purple: #945AD1;
$green: #59D090;
$red: #D17659;
$yellow: #D0CE5A;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-label: 10px;
$fs-ticket-text: 14px;
$fs-column-title: 16px;
$fs-board-title: 38px;